@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("/fonts/MyriadProRegular/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Myriad_Pro_Bold";
  src: url(/fonts/Myriad_Pro_Bold.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Gilroy_Medium";
  src: url(/fonts/Gilroy-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Gilroy_ExtraBold";
  src: url(/fonts/Gilroy_ExtraBold.otf) format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  width: 100%;
  max-height: 3000px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  background-color: #828282; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  outline: none;
    outline-cursor: pointer; }

ul {
  list-style-type: none; }

.userSelect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.j-leftLine {
  width: 0;
  outline: 2px solid red;
  height: 100%;
  position: absolute;
  overflow: visible; }

.j-rightLine {
  width: 0;
  outline: 2px solid yellow;
  height: 100%;
  position: absolute;
  right: 0;
  overflow: visible; }

.j-topLine {
  height: 0px;
  outline: 2px solid green;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: visible; }

.j-bottomLine {
  height: 0px;
  outline: 2px solid black;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: visible; }

.j-centerVLine {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  width: 0px;
  outline: 2px solid black;
  height: 100%;
  overflow: visible; }

.j-centerHLine {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  width: 100%;
  outline: 2px solid black;
  height: 0px;
  overflow: visible; }

.j-centerVLine__testball {
  outline: 2px solid black;
  position: absolute;
  top: 50%;
  left: 130px;
  width: 30px;
  height: 30px; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.resizable {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px); }
  .resizable .resizers {
    width: 100%;
    height: 100%;
    border: 1px solid #4286f4;
    overflow: visible;
    background-color: #1E1E1E;
    position: absolute;
    padding: 10px; }

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
  z-index: 1; }

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; }

.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize; }

.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize; }

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize; }

.wrapperAll {
  max-width: 1344px;
  outline: 1px solid green; }

.j-wrap-content {
  display: grid;
  grid-template-columns: 200px auto;
  overflow: hidden; }

.j-wrap-content-sidebar {
  z-index: 2;
  width: 200px;
  min-height: 400px;
  outline: 1px solid silver;
  background: rgba(10, 4, 4, 0.5); }

.j-wrap-content-sidebar__add-table-btn {
  width: 80px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  display: block;
  margin: 0 auto; }

.j-wrap-content-map {
  border: 3px solid red;
  position: relative;
  overflow: hidden;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.draggable-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px; }

.j-footer {
  width: 100%;
  height: 400px;
  position: relative;
  outline: 1px solid blue; }

.resizableTable {
  max-width: 460px;
  max-height: 460px;
  min-width: 105px;
  min-height: 105px;
  width: 105px;
  height: 105px;
  position: absolute;
  outline: 1px solid none;
  z-index: 1; }
  .resizableTable:hover {
    -webkit-transition: outline .5s;
    -o-transition: outline .5s;
    transition: outline .5s;
    outline: 1px solid silver; }
  .resizableTable .resizerTablesTable {
    min-width: 105px;
    min-height: 105px;
    display: grid;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
    height: inherit;
    overflow: hidden;
    padding: 20px; }

.resizableTable .resizerTablesTable .resizerTable {
  z-index: 1006;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
  opacity: 1; }

.resizableTable .resizerTablesTable .resizerTable.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; }

.resizableTable .resizerTablesTable .resizerTable.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize; }

.resizableTable .resizerTablesTable .resizerTable.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize; }

.resizableTable .resizerTablesTable .resizerTable.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize; }

.tableCenter {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #fff;
  z-index: 1005;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  opacity: 1; }

.tableCenter-line {
  position: absolute;
  width: 14px;
  height: 100%;
  background-color: pink;
  border-radius: 15px 0 0 15px; }

.elipsTop {
  position: absolute;
  top: -12px;
  left: 16px;
  width: 30px;
  height: 8px;
  border: 1px dashed #525252;
  border-radius: 60px 60px 0 0; }

.elipsLeft {
  position: absolute;
  top: 16px;
  left: -12px;
  width: 8px;
  height: 30px;
  border: 1px dashed #525252;
  border-radius: 60px 0 0 60px; }

.elipsRight {
  position: absolute;
  top: 16px;
  right: -12px;
  width: 8px;
  height: 30px;
  border: 1px dashed #525252;
  border-radius: 0 60px 60px 0; }

.elipsBottom {
  position: absolute;
  bottom: -12px;
  left: 16px;
  width: 30px;
  height: 8px;
  border: 1px dashed #525252;
  border-radius: 0 0 60px 60px; }

.chair {
  z-index: 1010;
  cursor: pointer; }

.elipsBgColored {
  background-color: rgba(10, 10, 10, 0.7);
  border: 2px solid grey; }

.tableText__input {
  width: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  display: none; }

.tableCenter-del {
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  right: 5px; }

.tableText {
  position: absolute;
  top: 12px;
  left: 16px; }
  .tableText p {
    cursor: pointer; }

.elipsTop2 {
  left: 56px; }

.elipsTop3 {
  left: 96px; }

.elipsTop4 {
  left: 136px; }

.elipsTop5 {
  left: 176px; }

.elipsTop6 {
  left: 216px; }

.elipsTop7 {
  left: 256px; }

.elipsTop8 {
  left: 296px; }

.elipsTop9 {
  left: 336px; }

.elipsTop10 {
  left: 376px; }

.elipsLeft2 {
  top: 56px; }

.elipsLeft3 {
  top: 96px; }

.elipsLeft4 {
  top: 136px; }

.elipsLeft5 {
  top: 176px; }

.elipsLeft6 {
  top: 216px; }

.elipsLeft7 {
  top: 256px; }

.elipsLeft8 {
  top: 296px; }

.elipsLeft9 {
  top: 336px; }

.elipsLeft10 {
  top: 376px; }

.displayParams {
  position: fixed;
  bottom: 100px;
  outline: 1px solid lightblue;
  width: auto;
  min-height: 100px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/ }
